.home_page {
    width: 99vw;
    height: 220vmin;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home_image_box {
    width: 99vw;
    height: 220vmin;
    background-color: aquamarine;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
}

.home_image_div {
    width: 30vmin;
    height: 30vmin;
    object-fit: cover;
    margin: 2vmin;
    border-radius: 3vmin;
    padding: 0.5vmin;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_image_item {
    width: 28vmin;
    height: 20vmin;
    object-fit: cover;
    border-radius: 2vmin;
}

.home_product_detail {
    width: 28vmin;
    background-color: white;
    border-radius: 0 0 2vmin 2vmin;
    margin-top: 1vmin;
    padding: 0.5vmin;
}